@import '../../variabless';

.team {
  margin: 0 auto;
  margin-left: 300px;
  padding: 34px 40px 0px 50px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  .teamList {
    flex-wrap: wrap;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 733px;
    span {
      font-weight: $bold;
      font-size: $h1Size;
      line-height: $h1Height;
      letter-spacing: 0.04em;
      color: $black;
    }
    button {
      border: 2px solid $black;
      border-radius: 4px;
      padding: 7px 24px 7px 48px;
      background-color: $white;
      background-image: url('../../assets/icons/add.svg');
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 24px;
      font-weight: $bold;
      font-size: $bodySize;
      line-height: $bodyHeight;
      white-space: nowrap;
      color: $black;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
