@import '../../../variabless';

.DeleteModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  .Modal {
    max-width: 480px;
    background-color: $white;
    padding: 48px;
    border-radius: 8px;
    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: $black;
    }
    p {
      font-size: 12px;
      line-height: 22px;
      color: $grey;
      margin-top: 13px;
      font-weight: 500;
    }
    .Buttons {
      font-family: inherit;
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
      height: 48px;
      border-radius: 24px;
      .Cancel {
        width: 91px;
        background: #252945;
        color: #dfe3fa;
        padding: 10px;
        border: none;
        &:hover {
          background: #ffffff;
          color: #252945;
        }
      }
      .Delete {
        width: 89px;
        background: #ec5757;
        color: #ffffff;
        padding: 10px;
        border: none;
        margin: 0 8px;
        &:hover {
          background: #ff9797;
        }
      }
    }
  }
}
