@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");
.questions {
  padding: 34px 39px 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
}

.questions .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 733px;
          column-gap: 733px;
}

.questions .heading span {
  font-weight: 700;
  font-size: 28px;
  line-height: 32.2px;
  letter-spacing: 0.04em;
  color: #000000;
}

.questions .heading button {
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 7px 24px 7px 48px;
  background-color: #ffffff;
  background-image: url("../../assets/icons/add.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.4px;
  white-space: nowrap;
  color: #000000;
}

.questions .heading button:hover {
  cursor: pointer;
}

.questions .questionList .question {
  border: 1px solid #000000;
  display: -ms-grid;
  display: grid;
  padding: 25px 40px 22px 19px;
      grid-template-areas: 'leftSide rightSide';
}

.questions .questionList .question .leftSide {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: leftSide;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 21px;
          column-gap: 21px;
      grid-template-areas: 'topBtn questionNum' 'downBtn questionTitle';
}

.questions .questionList .question .leftSide .topBtn {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: topBtn;
  padding-bottom: 2px;
}

.questions .questionList .question .leftSide .topBtn:hover {
  cursor: pointer;
}

.questions .questionList .question .leftSide .downBtn {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: downBtn;
}

.questions .questionList .question .leftSide .downBtn:hover {
  cursor: pointer;
}

.questions .questionList .question .leftSide .questionNum {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: questionNum;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 13.8px;
  letter-spacing: 0.04em;
  color: #000000;
}

.questions .questionList .question .leftSide .questionTitle {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: questionTitle;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.questions .questionList .question .rightSide {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: rightSide;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.questions .questionList .question .rightSide button {
  padding: 6px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.4px;
  color: #000000;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 4px;
}

.questions .questionList .question .rightSide button:hover {
  cursor: pointer;
}

.questions .questionList .question .rightSide .delBtn {
  background: #dee0e3;
}
/*# sourceMappingURL=Questions.css.map */