// // Typography
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

// // Font
$fontFamily: 'Spartan', sans-serif;

// Size
$hSize: 32px;
$h1Size: 28px;
$h2Size: 24px;
$h3Size: 20px;

$bodySize: 16px;

$labelSize: 12px;

// Height
$hHeight: 36.8px;
$h1Height: 32.2px;
$h2Height: 27.6px;
$h3Height: 23px;

$bodyHeight: 18.4px;

$labelHeight: 13.8px;

// Width

$bold: 400;
$regular: 700;

// // Color
$black: #000000;
$grey: #7b7b7b;
$white: #ffffff;

$grey-10: #f1f1f1;
$grey-7: #dee0e3;

$blue: #29a6fe;
$blue-4: #ddf1ff;

$red: #f23d35;
$red-4: #fde0df;
