@import '../../variabless';

form {
  select {
    margin-bottom: 20px;
  }
  div {
    align-items: center;
    justify-content: space-evenly;
    div {
      align-items: center;
      label {
        margin: 0;
      }
      input {
        margin: 0;
      }
    }
    .radioBtn {
      width: auto;
    }
  }
  .wrapper {
    .register {
      background: $white;
      border: 2px solid $black;
      border-radius: 4px;
      width: 104px;
      height: 30px;
      font-size: $bodySize;
      font-weight: bold;
      border-radius: 4px;
    }
  }
}
