@import '../../variabless';

.profile-card {
  border: 1px solid $black;
  margin-top: 40px;

  .profile-card-header {
    padding: 20px 0 10px 27px;
    border-bottom: 1px solid $black;
    font-size: $labelSize;
    line-height: $labelHeight;
    font-weight: $regular;
  }

  form {
    padding: 25px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 13px;
  }
}

.mr-50 {
  margin-right: 50px;
}
